@use "../util" as u;

.datenschutz{
    width: 100%;
    padding-top: 5rem;
}

.datenschutz__hero-image{
    height: calc(100vh - 5rem);
    width: 100%;
    background: linear-gradient(
                    to right, 
                    rgba(u.$quaternary-color, .5), 
                    rgba(u.$quaternary-color, .5)),
                    url(../img/pflaster.png);
    background-size: cover;
    background-position: top;
}

.datenschutz__hero{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    
    .datenschutz__headline{
        margin-bottom: .5rem;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid u.$secondary-color;
    }
}

@include u.breakpoint(medium){
    .datenschutz__hero{
        padding: 0 5rem;
    }
}

@include u.breakpoint(large){
    .datenschutz__hero{
        padding: 0 10rem;
    }

    .datenschutz__hero{

        .datenschutz__headline{
            font-size: 3rem;
        }
    }
}